.slider-header{
    color:white;
    position:absolute;
    top:100px;
    left:70px;
}

.slider-p{
    color:white;
    position:absolute;
    top:250px;
    left:70px;
    font-size:26px;
    font-weight:500;
}